  .AABB {
    position: relative;
    min-height: 500px;
  }

  .crop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
  }

  .controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    height: 20px;
    display: flex;
    align-items: center;
  }

  .slider {
    padding: 22px 0px;
  }

  .controls:hover input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    border-radius: 50%;
  }

  .controls:hover input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  }